# See: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
root = true

[*]
charset = utf-8
indent_style = table
indent_size = 4
trim_trailing_whitespace = true
[*.[ch]]
indent_style = space
indent_size = 4
max_line_length = 80
insert_final_newline = true
[README.md]
max_line_length = 80
[CMakeLists.txt]
indent_style = space
indent_size = 4
max_line_length = 80
[*.sh]
indent_style = tab
table_width = 4
